/*Aquí utilizo css vía etiquetas*/

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: lightgray;
}
h1{
    text-decoration: underline;
    text-align: center;
    scroll-padding-top: 10px;

}
h2{
    text-decoration: underline;
    font-style: italic;
}
h3{
    text-decoration: underline;
}
ul{
    text-align: center;
    list-style: none;
    font-weight: 900;
}
main, section{
    background-color: lightgray;
    padding: 20px;
}
footer{
    text-align: center;
    font-style: italic;
    padding: 10px;
    position: absolute;
    width: 100%;
}
/*Aquí comienzan las clases*/
.presentacion{
    width: 100%;
    height: auto;
}
.perritos{
    width: 500px;
    height: auto;
}
.perrotes{
    width: 500px;
    height: auto;
}

/*Aquí utilicé un ID*/
#logo {
    width: 150px;
    height: auto;
}

.custom-header {
    display: flex;
    align-items: center;
}

.encabezado {
    margin: 0; 
    flex-grow: 1; 
    text-align: center; 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}


/* Estilos Licha */
.carousel-inner .img-fluid {
    max-height: 300px; /* Ajusta el tamaño máximo que prefieras */
    width: auto; /* Ajusta la anchura automática para mantener la proporción */
    margin: 0 auto; /* Centra horizontalmente las imágenes */
}  

.navbar-nav .nav-link {
    position: relative;
    text-decoration: none;
    color: #333; /* Cambia el color de texto a tu elección */
}

/* Estilos del subrayado en hover */
.navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px; /* Ajusta la altura del subrayado según tus preferencias */
    bottom: 0;
    left: 0;
    background-color: #007bff; /* Cambia el color del subrayado a tu elección */
    transition: width 0.3s ease; /* Controla la velocidad de la transición */
}

/* Aplica el subrayado completo en hover */
.navbar-nav .nav-link:hover::before {
    width: 100%;
}
