// Definir variables
$font-family: Georgia, 'Times New Roman', Times, serif;
$background-color: lightgray;
$link-color: #007bff;
$link-hover-color: #333;
$max-image-height: 300px;
$image-auto-width: auto;
$image-margin: 0 auto;

// Definir animación
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Aquí utilizo CSS vía etiquetas
* {
  font-family: $font-family;
  animation: fade-in 1s ease-in; // Animación de desvanecimiento
}

body {
  background-color: $background-color;
}

h1 {
  text-decoration: underline;
  text-align: center;
  padding-top: 10px; // Corrección
  animation: fade-in 1s ease-in; // Animación de desvanecimiento
}

h2 {
  text-decoration: underline;
  font-style: italic;
  animation: fade-in 1s ease-in; // Animación de desvanecimiento
}

h3 {
  text-decoration: underline;
  animation: fade-in 1s ease-in; // Animación de desvanecimiento
}

ul {
  text-align: center;
  list-style: none;
  font-weight: 900;
  animation: fade-in 1s ease-in; // Animación de desvanecimiento
}

main, section {
  background-color: $background-color;
  padding: 20px;
  animation: fade-in 1s ease-in; // Animación de desvanecimiento

  .container {
    // Anida las reglas dentro de .container
    h2 {
      font-weight: bold;
      animation: fade-in 1s ease-in; // Animación de desvanecimiento
    }
    p {
      @include parrafo-estandar; // Aplicar el mixin a los párrafos
      line-height: 1.5;
      animation: fade-in 1s ease-in; // Animación de desvanecimiento
    }
    #imageCarousel { // Corrección
      // Estilos para el carrusel de imágenes
      // ...
      animation: fade-in 1s ease-in; // Animación de desvanecimiento
    }
  }
}

footer {
  text-align: center;
  font-style: italic;
  padding: 10px;
  position: absolute;
  width: 100%;
  animation: fade-in 1s ease-in; // Animación de desvanecimiento
}

// Aquí comienzan las clases
.presentacion {
  width: 100%;
  height: auto;
  animation: fade-in 1s ease-in; // Animación de desvanecimiento
}

.perritos,
.perrotes {
  width: 500px;
  height: auto;
  animation: fade-in 1s ease-in; // Animación de desvanecimiento
}

// Aquí utilizé un ID
#logo {
  width: 150px;
  height: auto;
  animation: fade-in 1s ease-in; // Animación de desvanecimiento
}

.custom-header {
  display: flex;
  align-items: center;
  animation: fade-in 1s ease-in; // Animación de desvanecimiento
}

.encabezado {
  margin: 0;
  flex-grow: 1;
  text-align: center;
  animation: fade-in 1s ease-in; // Animación de desvanecimiento
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  animation: fade-in 1s ease-in; // Animación de desvanecimiento
}

nav ul li {
  margin: 0 15px;
  animation: fade-in 1s ease-in; // Animación de desvanecimiento
}

.carousel-inner .img-fluid {
  max-height: $max-image-height;
  width: $image-auto-width;
  margin: $image-margin;
  animation: fade-in 1s ease-in; // Animación de desvanecimiento
}

.navbar-nav .nav-link {
  position: relative;
  text-decoration: none;
  color: $link-hover-color;

  // Estilos del subrayado en hover
  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $link-color;
    transition: width 0.3s ease;
  }

  // Aplica el subrayado completo en hover
  &:hover::before {
    width: 100%;
  }
}
